In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressorimport time

from Economics_utils import*

OBJECTIF:

Les données proviennent de 227 pays et contiennent des informations sur certains des facteurs importants qui régissent 
le développement économique. Il s'agit ici d'implémenter un modèle prédictif avec pour variable cible le PIB par habitant (GDP per capita). Il s'agit de l'indicateur clé du développement économique de tout pays.

In [2]:
data = importer_affichage_dataset('countries_of_the_world.csv')
data.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [3]:
data["Region"].nunique()

11

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

DICTIONNAIRE DES DONNEES

|**Libellés variables**|**Description des variables**|**Type des données**|
|----------------------|-----------------------------|--------------------|
|**Country :**|Pays concerné par l'étude|Catégoriel|
|**Region :**|Région rattachée au pays étudié|Catégoriel|
|**Population :**|Effectif de la région|Numérique|
|**Area (sq. mi.) :**|Superficie en m²|Numérique|
|**Pop. Density (per sq. mi.) :**|Densité de population (par mile carré)|Catégoriel|
|**Coastline (coast/area ratio) :**|Littoral (rapport côte/superficie)|Catégoriel|
|**Net migration :**|Migration nette|Catégoriel|
|**Infant mortality (per 1000 births) :**|Mortalité infantile (pour 1000 naissances)|Catégoriel|
|**GDP ($ per capita) :**|PIB ($ par habitant)|Numérique|
|**Literacy (%) :**|Taux d'alphabétisation (%)|Catégoriel|
|**Phones (per 1000) :**|Téléphones (par 1000)|Catégoriel|
|**Arable (%) :**|Pourcentage terres Arables disponibles (%)|Catégoriel|
|**Crops (%) :**|Pourcentage d'espaces Cultivés (%)|Catégoriel|
|**Other (%) :**|Ratio autre|Catégoriel|
|**Climate :**|Climat|Catégoriel|
|**Birthrate :**|Taux de natalité|Catégoriel|
|**Deathrate :**|Taux de mortalité|Catégoriel|
|**Agriculture :**|Agriculture|Catégoriel|
|**Industry :**|Industrie|Catégoriel|
|**Service :**|Service|Catégoriel|